.bg {
  background: linear-gradient(rgba(121, 170, 212, 0.7882352941), transparent 60%), linear-gradient(0deg, #ffffff, transparent 30%), #ffffff url(../../img/bg.gif) no-repeat;
  background-size: cover;
}

.jumbotron {
  min-height: 100vh;
  border-radius: 0;
}
.jumbotron h1 {
  display: inline;
  font-family: "Stylish", sans-serif;
  letter-spacing: 3px;
}
.jumbotron .logo {
  color: black;
}
.jumbotron .logo:hover {
  color: #000;
  text-decoration-line: none;
}
.jumbotron .display-4 {
  color: #5a97cc;
  text-shadow: 1px 1px 0px white;
  font-size: 4.5em;
}
.jumbotron .free {
  font-family: "IM Fell English", serif;
  font-size: 4.5em;
  text-shadow: 2px 2px 8px white;
}
.jumbotron .description {
  background: linear-gradient(to right, white, #fbfbfba6);
  padding: 3px;
  display: inline;
  border-radius: 5px;
  font-size: 1.1rem;
}
.jumbotron .looking {
  border: none;
  padding: 20px;
  background: rgba(121, 170, 212, 0.78);
}
.jumbotron .looking:hover {
  background: #5a97cc;
}
.jumbotron .navbar-brand {
  font-size: 1rem;
}
.jumbotron .post {
  border-radius: 2px;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  background: rgba(255, 255, 255, 0.4);
}
.jumbotron .post:hover {
  background: white;
  color: #5a97cc;
}
.jumbotron .login {
  color: #406280;
  border-bottom: 2px solid #406280;
}
.jumbotron .login:hover {
  color: #213648;
  border-color: #213648;
}
.jumbotron .buttons {
  margin-top: 2rem;
}

.modal .post-modal {
  padding: 20px 0;
  background-color: #79aad4;
  color: white;
}
.modal .post-modal:hover {
  color: white;
  background-color: #406280;
}
.modal .submit {
  float: right;
  background: #79aad4;
  border: none;
}
.modal .submit:hover {
  background: #406280;
}

.dashboard {
  min-height: 10vh;
  background: linear-gradient(0deg, #909090, #fdfdfd);
}
.dashboard .display-4 {
  font-size: 2.5em;
  display: inline;
  margin-right: 2px;
}
.dashboard .free {
  font-size: 3em;
}
.dashboard nav {
  display: block;
}
.dashboard nav .post {
  background: #79aad4;
  border-color: #79aad4;
  color: white;
}
.dashboard nav .post:hover {
  background: white;
  border-color: white;
  color: #5a97cc;
}

.heading {
  background-color: #79aad4;
  color: white;
  padding: 10px 0;
  font-family: "Stylish", sans-serif;
  font-size: 3em;
  text-shadow: 2px 2px 8px #5a5656;
  border-radius: 0;
}

.content .section {
  background: lightgray;
  padding: 10px;
  margin: 0 0 13px 0;
  border-radius: 5px;
}

.form {
  box-shadow: 0px 0px 20px 7px #fff;
  background: #bfc7ca;
  padding: 20px;
  border-radius: 5px;
}
.form label {
  font-family: "Stylish", sans-serif;
  font-size: 1.5em;
}
.form input::placeholder,
.form textarea::placeholder {
  font-style: italic;
}
.form .submit {
  float: right;
  background: #79aad4;
  border: none;
}
.form .submit:hover {
  background: #406280;
}

.back-to {
  background: #79aad4;
  border: none;
  display: block;
  border-radius: 0;
}
.back-to:hover {
  background: #5a97cc;
}

@media (min-width: 760px) {
  .jumbotron .display-4 {
    font-size: 6em;
  }
  .jumbotron .free {
    font-size: 8em;
  }
  .jumbotron .description {
    padding: 10px 20px;
  }
  .jumbotron .buttons {
    margin-top: 7rem;
  }
  .jumbotron .navbar-brand {
    font-size: 1.25rem;
  }

  .form .display-4 {
    font-size: 5em;
  }
  .form .free {
    font-size: 7em;
  }

  .dashboard .display-4 {
    font-size: 4.5em;
    margin-right: 4px;
  }
  .dashboard .free {
    font-size: 6em;
  }
}
@media (min-width: 1300px) {
  .jumbotron .buttons {
    margin: 10rem;
  }
}
