// To install:
// npm install -g sass
// sass --version
// sass public/stylesheets/sass/main.scss public/stylesheets/css/style.css

//----------------
// COLORS 
//----------------
$gray: #bfc7ca;
$carolina-blue: #79aad4;
$teal: #4f8292;

//----------------
// FONTS
//----------------
$Stylish: 'Stylish', sans-serif;
$IM-Fell: 'IM Fell English', serif;
$EB-Garamond: 'EB Garamond', serif;
$large-font: 10em;
$medium-font: 8em;
$small-font: 4.5em;
$xsmall-font: 3em;
$body-font: 1.2em;

//----------------
// *** RULES ***
//----------------

// <--- landing page --->

.bg {
    background: linear-gradient(rgba(121, 170, 212, 0.788235294117647), transparent 60%), linear-gradient(0deg, #ffffff, transparent 30%), #ffffff url(../../img/bg.gif) no-repeat;
    background-size: cover;
}

.jumbotron {
    min-height: 100vh;
    border-radius: 0;
    h1 {
        display: inline;
        font-family: $Stylish;
        letter-spacing: 3px;
    }
    .logo {
        color: black;
        &:hover { 
            color: #000; 
            text-decoration-line: none;
        }
    }
    .display-4 {
        color: #5a97cc;
        text-shadow: 1px 1px 0px white;
        font-size: $small-font;
    }
    .free {
        font-family: $IM-Fell;
        font-size: $small-font;
        text-shadow: 2px 2px 8px white;
    }
    .description {
        background: linear-gradient(to right, white ,#fbfbfba6);
        padding: 3px;
        display: inline;
        border-radius: 5px;
        font-size: 1.1rem;
    }
    .looking {
        font-family: $EB-Garamond;
        letter-spacing: 1px;
        border: none;
        border-radius: 0;
        padding: 20px;
        background: #5a97cc;
        box-shadow: 0px 2px 0px 0px #fff;
        &:hover { background: #406280; }
    }
    .navbar-brand {
        font-size: .7rem;
    }
    .post {
        font-family: $EB-Garamond;
        border-radius: 0;
        border: 1px solid white;
        padding: 10px 20px;
        color: white;
        background: rgba(255, 255, 255, 0.4);
        &:hover { 
            background: white;
            color: #5a97cc; 
        }
    }
    .login {
        font-family: $EB-Garamond;
        color: #213648;
        border-bottom: 1px solid #213648;
        &:hover { 
            color: white; 
            border-color: white;
        }
    }
    .buttons {
        margin-top: 2rem;
    }
}

.modal {
    .post-modal {
        padding: 20px 0;
        background-color: $carolina-blue;
        color: white;
        &:hover { 
            color: white;
            background-color: #406280; 
        }
    }
    .submit {
        float: right;
        background: $carolina-blue;
        border: none;
        &:hover { background: #406280; }
    }
}

.logOut {
    display: none;
}

// <--- dashboard pages --->

.dashboard {
    min-height: 10vh;
    background: linear-gradient(-0deg, #909090, #fdfdfd);
    .display-4 {
        font-size: 2em;
        display: inline;
        margin-right: 2px;
    }
    .free {
        font-size: 2.5em;
    }
    nav {
        display: block;
        .post {
            background: white;
            border-color: white;
            color: #6a98bf; 
            &:hover { 
                background: $carolina-blue;
                border-color: $carolina-blue;
                color: white;
            }
        }
    }
}

.heading {
    background-color: #709fc7;
    color: white;
    padding: 8px 0 12px 0;
    font-family: $EB-Garamond;
    letter-spacing: 2px;
    font-size: 2em;
    text-shadow: 2px 2px 5px #3a3a3a;
    border-radius: 0;
    box-shadow: inset 0px 11px 6px -10px #131313, 
                inset 0px -1px 4px 0px #131313;
}

.content {
    .section {
        font-family: $EB-Garamond;
        background: lightgray;
        padding: 10px;
        margin: 0 0 13px 0;
        border-radius: 5px;
        .img-fluid {
            height: 10rem;
        }
    }
    .filter {
        border-radius: 0;
    }
    .view-all {
        border-radius: 3px;
        background: #406280;

    }
    .profile-section {
        h2 {
            padding: 5px;
            font-family: $Stylish;
            letter-spacing: 1px;
            background: #406280;
            color: white;
            box-shadow: 0px 5px 15px 0px #676767;
        }
        .delete {
            background: rgba(125, 0, 11, 0.27);
            border-color: rgba(88, 0, 8, 0);
            display: block;
            border-radius: 0;
            width: 100%;
            letter-spacing: 1px;
            &:hover { 
                background: #98000d;
                border-color: #98000d;
            }
        }
    }
}

// <--- cms forms --->

.form {
    box-shadow: 0px 0px 20px 7px #fff;
    background: $gray;
    padding: 20px;
    border-radius: 5px;
    label {
        font-family: $EB-Garamond;
        font-size: 1.3em;
    }
    input::placeholder,
    textarea::placeholder {
        font-style: italic;
    }
    .submit {
        float: right;
        background: $carolina-blue;
        border: none;
        &:hover { background: #406280; }
    }
}

.back-to {
    background: $carolina-blue;
    border: none;
    display: block;
    border-radius: 0;
    &:hover { background: #5a97cc; }
}


//-----------------------
// *** MEDIA QUERIES ***
//-----------------------
$tablet: 760px;
$laptop: 1300px;

@media (min-width: $tablet) {

    .jumbotron {
        .display-4 {
            font-size: 6em;
        }
        .free {
            font-size: $medium-font;
        }
        .description {
            padding: 10px 20px;
        }
        .buttons {
            margin-top: 5rem;
        }
        .navbar-brand {
            font-size: 1.25rem;
        }
    }

    .form {
        .display-4 {
            font-size: 3em;
        }
        .free {
            font-size: 4em;
        }
    }

    .dashboard {
        .display-4 {
            font-size: $small-font;
            margin-right: 4px;
        }
        .free {
            font-size: 6em;
        }
    }

    .heading {
        padding: 10px 0 15px 0;
        font-size: $xsmall-font;
    }
    
}


@media (min-width: $laptop) {

    .jumbotron {
        
        .buttons {
            margin: 7rem 3rem 0 3rem;
        }
    }
    
}
