// To install:
// npm install -g sass
// sass --version
// sass public/stylesheets/sass/main.scss public/stylesheets/css/style.css

//----------------
// COLORS 
//----------------
$gray: #bfc7ca;
$carolina-blue: #79aad4;
$teal: #4f8292;

//----------------
// FONTS
//----------------
$Stylish: 'Stylish', sans-serif;
$IM-Fell: 'IM Fell English', serif;
$large-font: 10em;
$medium-font: 8em;
$small-font: 4.5em;
$xsmall-font: 3em;
$body-font: 1.2em;

//----------------
// *** RULES ***
//----------------

// <--- landing page --->

.bg {
    background: linear-gradient(rgba(121, 170, 212, 0.788235294117647), transparent 60%), linear-gradient(0deg, #ffffff, transparent 30%), #ffffff url(../../img/bg.gif) no-repeat;
    background-size: cover;
}

.jumbotron {
    min-height: 100vh;
    border-radius: 0;
    h1 {
        display: inline;
        font-family: $Stylish;
        letter-spacing: 3px;
    }
    .display-4 {
        color: #5a97cc;
        text-shadow: 1px 1px 0px white;
        font-size: $small-font;
    }
    .free {
        font-family: $IM-Fell;
        font-size: $small-font;
        text-shadow: 2px 2px 8px white;
    }
    .description {
        background: linear-gradient(to right, white ,#fbfbfba6);
        padding: 3px;
        display: inline;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    .looking {
        border: none;
        background: rgba(121, 170, 212, 0.78);
        &:hover { background: #5a97cc; }
        // box-shadow: inset 0px 0px 11px 3px #fff;
    }
    .post {
        border-radius: 2px;
        border: 2px solid white;
        padding: 10px 20px;
        color: white;
        background: rgba(255, 255, 255, 0.4);
        &:hover { 
            background: white;
            color: #5a97cc; 
        }
    }
    .login {
        color: #2d5280;
        &:hover { 
            border-bottom: 2px solid #2d5280; 
        }
    }
    .buttons {
        margin-top: 4rem;
    }
}

// <--- dashboard pages --->

.dashboard {
    min-height: 10vh;
    .display-4 {
        font-size: $small-font;
        display: inline;
        margin-right: 2px;
    }
    .free {
        font-size: $small-font;
    }
    nav {
        display: block;
        .post {
            background: white;
            color: #5a97cc; 
            &:hover { 
                background: $carolina-blue;
                border-color: $carolina-blue;
                color: white;
            }
        }
    }
}

.heading {
    background-color: $carolina-blue;
    color: white;
    padding: 10px 0;
    font-family: $Stylish;
    font-size: $xsmall-font;
    text-shadow: 2px 2px 8px #5a5656;
    border-radius: 0;
}

.content {
    .section {
        background: lightgray;
        padding: 10px;
        margin: 0 0 13px 0;
        border-radius: 5px;
    }
}

// <--- cms forms --->

.form {
    box-shadow: 0px 0px 20px 7px #fff;
    background: $gray;
    padding: 20px;
    border-radius: 5px;
    label {
        font-family: $Stylish;
        font-size: 1.5em;
    }
    input::placeholder,
    textarea::placeholder {
        font-style: italic;
    }
    .submit {
        float: right;
        background: $carolina-blue;
        border: none;
        &:hover { background: #0b233b; }
    }
}

.back-to {
    background: $carolina-blue;
    border: none;
    display: block;
    border-radius: 0;
    &:hover { background: #5a97cc; }
}


//-----------------------
// *** MEDIA QUERIES ***
//-----------------------
$tablet: 760px;
$laptop: 1300px;

@media (min-width: $tablet) {

    .jumbotron {
        .display-4 {
            font-size: 6em;
        }
        .free {
            font-size: $medium-font;
        }
        .description {
            padding: 10px;
        }
        .buttons {
            margin-top: 8rem;
        }
    }

    .form {
        .free {
            font-size: 7em;
        }
    }

    .dashboard {
        .display-4 {
            font-size: $small-font;
            margin-right: 4px;
        }
        .free {
            font-size: 6em;
        }
    }
    
}


@media (min-width: $laptop) {

    .jumbotron {
        
        .buttons {
            margin: 10rem;
        }
    }
    
}
